body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navegation a {
  background-color: #1C1C1C;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
}

.navegation a:hover {
  background-color: #1C1C1C;
}

img {
  width: 500px;
  margin-bottom: 50px;
}
